<ion-view view-title="Logs">
  <ion-content class="padding">
	<div class="row">
	  <div class="col">
	    <button class="button button-block button">Steps</button>
	  </div>
	  <div class="col">
	    <button class="button button-block">Diet</button>
	  </div>
	  <div class="col">
	    <button class="button button-block">Weight</button>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	    <button class="button button-block button">Blood Sugar</button>
	  </div>
	  <div class="col">
	    <button class="button button-block">Blood Pressure</button>
	  </div>
	  <div class="col">
	    <button class="button button-block">Medications</button>
	  </div>
	</div>
	<div class="row">
	  <div class="col">
	    <button class="button button-block button">Foot Care</button>
	  </div>
	  <div class="col">
	    <button class="button button-block">Alcohol and Smoking</button>
	  </div>
	</div>
  </ion-content>
</ion-view>
