<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="card steps padded">
      <div class="item item-text-wrap">
        <p>
          <strong class="larger">8204</strong>
          steps
        </p>
        <div class="progress-bar">
          <div class="progress steps"></div>
        </div>
      </div>
    </div>

    <div class="card miles padded">
      <div class="item item-text-wrap">
        <p>
          <strong class="larger">3.8</strong>
          miles
        </p>
        <div class="progress-bar">
          <div class="progress miles"></div>
        </div>
      </div>
    </div>

    <div class="card miles padded">
      <div class="item item-text-wrap">
        <p>
          <strong class="larger">2.1</strong>
          lbs to go
        </p>
        <div class="progress-bar">
          <div class="progress weight"></div>
        </div>
      </div>
    </div>


    <div class="card blood-sugar padded">
      <div class="item item-text-wrap">
        <h2>Blood Sugar</h2>
        <p>
          Your latest fasting blood sugar level was <strong class="larger">128</strong>.
        </p>
        <p>
          This is <strong class="large">28</strong> points more than a normal level, but <strong class="large">2</strong> points less
          than the average of your previous readings. Congratulations, you're making progress!
        </p>
      </div>
    </div>

  </ion-content>
</ion-view>
