<ion-view view-title="Goals">
  <ion-content class="padding">

    <div id='goals-trophy'>
      <div id='big-trophy'>&#62294;</div>
      <div id='goals-text'>Goals</div>
    </div>
    
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Time Period
        </div>
        <select>
          <option selected>Today</option>
          <option>This week</option>
          <option>This month</option>
          <option>This year</option>
        </select>
      </label>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
        10,000 Steps...
        <br/>BMI...
        <br/>1,500 Calories...
      </div>
    </div>

    <div class="row">
      <div class="col my-goal-col">
        <span class='my-goal'>25</span>
        <span class='goal-name goal-name-right'>(g) Sugar</span>
      </div>
      <div class="col my-goal-col">
        <span class='my-goal'>1,500</span>
        <span class='goal-name goal-name-right'>(mg) Sodium</span>
      </div>
    </div>
    <div class="row">
      <div class="col my-goal-col">
        <span class='goal-name goal-name-left'>Blood Pressure:</span>
        <span class='my-goal'>130 / 80</span>
      </div>
    </div>
    
    <div class="item item-divider">
      Normal Blood Sugar
    </div>
    
    <div class="row">
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>Fasting:</span>
        <span class='my-goal'>100 mg/dL</span>
      </div>
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>Before Meal:</span>
        <span class='my-goal'>100 mg/dL</span>
      </div>
    </div>
    <div class="row">
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>Bedtime:</span>
        <span class='my-goal'>120 mg/dL</span>
      </div>
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>After Meal:</span>
        <span class='my-goal'>150 mg/dL</span>
      </div>
    </div>
    
    <div class="item item-divider">
      Foot Care
    </div>
    
    <div class="row">
      <div class="col my-goal-col">
        <img src='img/feet-312301_640.png' style='height:50px'>
        &nbsp;
        &nbsp;
        <span class='goal-name goal-name-left'>Caring for my feet:</span>
        &nbsp;
        <span class='my-goal'>Inspect them daily.</span>
      </div>
    </div>
    
    <div class="item item-divider">
      <span style='color:green;'>My Savings</span>
    </div>
    
    <div class="row">
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>Medication savings:</span>
        <span class='my-saving-goal'>$30/month</span>
      </div>
      <div class="col my-goal-col">
        <span class='goal-name goal-name-right'>Insurance discount:</span>
        <span class='my-saving-goal'>$150/month</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col my-goal-col">
        <span id='my-savings-icon' style='font-family: "Ionicons"; font-size: 3em; line-height: 1em; color: green;'>&#62230;</span>
        &nbsp;
        <span class='goal-name goal-name-left'>My savings goal:</span>
        &nbsp;
        <span class='my-saving-goal'>$180/month</span>
      </div>
    </div>
    

  </ion-content>
</ion-view>
