
.progress.steps {
	background-color: #48f;
	width: 80%;
}

.progress.miles {
	background-color: #48f;
	width: 70%;
}

.progress.weight {
	background-color: #f84;
	width: 20%;
}

.progress.blood-sugar {
	width: 60%;
}

.progress.steps-goal {
	background-color: #48f;
	width: 100%;
}

.progress.cals-goal {
	background-color: #f84;
	width: 50%;
}
