/* Empty. Add your own CSS if you like */

p {
	font-size: 18px;
}

.large {
	font-size: 130%;
}

.larger {
	font-size: 160%;
}

.padded {
	padding: 1em 0;
	border-bottom: 1px solid #eee;
}

.progress-bar {
	width: 100%;
	height: 1em;
	background-color: #ddd;
}

.progress {
	height: 1em;
}

.card h2 {
	color: #444;
	font-size: 22px;
}


#goals-trophy {
    position: relative;
    height: 100px; 
}

#big-trophy {
	font-size: 100px;
	line-height: 1em;
	font-family: "Ionicons";
	text-align: center;
	color: #117;
}

#goals-text {
    position: absolute;
    top: 18px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #fff;
    font-family: 'Berkshire Swash', cursive, sans-serif;
}

.my-goal-col {
	text-align: center;
}

.my-goal {
	font-weight: bold;
	color: orange;
}

.my-saving-goal {
	font-weight: bold;
	color: green;
}

.goal-name {
	color: #117;
}
